<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>跨局通信网申请</title>
    <link rel="stylesheet" th:href="@{/bui/css/bs3/dpl.css}" />
    <link rel="stylesheet" th:href="@{/bui/css/bs3/bui.css}" />
    <link rel="stylesheet" th:href="@{/common/uploader/uploader.css}" />
    <script charset="utf-8" th:src="@{/common/sq.js}"></script>
</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    seajs.config({
        paths : {
            common : "/common",
            kmms : "/kmms",
            bui : "/bui"
        }
    });
    seajs.use('kmms/constructionManage/pointInnerMaintainPlan/communicationNetwork/communicationNetworkApplyPage',function(Main){
        var main = new Main({
        	perId : [[${perId}]],
        	userId : [[${userId}]],
        	userName : [[${userName}]],
        	orgId : [[${orgId}]],
        	orgName : [[${orgName}]],
        	parentId : [[${parentId}]]})
        main.render();
    });
    /*]]>*/
</script>
</body>
</html>